---
import Layout from "../../layouts/BaseLayout.astro";
import {Image} from "astro:assets";
import People from "../people_demo.jpg";
import {Icon} from "astro-icon/components"
import Header from "../../layouts/Header.astro";
import NewsCard from "../../components/news/NewsCard.astro";

const NavLinks = [
    [{label: "ホーム", href: "/index.html"}],
    [{label: "研究業績", href: "/publications/index.html"}],
    [{label: "産学連携", href: "/collaboration/index.html"}],
    [
        {label: "メンバー", href: "/member/index.html"},
        {label: "細田千尋", href: "/aboutMe/index.html"},
    ],
    [{label: "ニュース", href: "/news/index.html"}],
    [{label: "講演", href: "/lecture/index.html"}],
    [{label: "お問い合わせ", href: "/contact/index.html"}],
];

const posts_top_page = [1, 2, 3];
---

<Layout title="Hosoda Lab" description="Hosoda Lab Homepage">
    <div slot="main" class="relative">
        <!--navigation bar-->
        <div id="nav" class="w-screen bg-white z-[10001] fixed">
            <Header/>
        </div>
        <!-- navigation bar end -->
        <!--steps-->
        <div
                class="h-screen w-4 p-3 container content-center my-auto z-[10000] fixed"
        >
            <div>
                <ul
                        class="container my-auto timeline timeline-compact timeline-vertical"
                >
                    <li>
                        <div class="timeline-middle">
                            <a href="#" class="step-link">
                                <Icon name="mdi:checkbox-blank-circle" size="20"/>
                            </a>
                        </div>
                        <div class="timeline-end h-12"></div>
                        <hr/>
                    </li>
                    <li>
                        <hr/>
                        <div class="timeline-middle">
                            <a href="#" class="step-link">
                                <Icon name="mdi:checkbox-blank-circle" size="20"/>
                            </a>
                        </div>
                        <div class="timeline-end h-12"></div>
                        <hr/>
                    </li>
                    {
                        posts_top_page.length === 0 ? (
                                <li>
                                    <hr/>
                                    <div class="timeline-middle">
                                        <a href="#" class="step-link">
                                            <Icon name="mdi:checkbox-blank-circle" size="20"/>
                                        </a>
                                    </div>
                                    <div class="timeline-end h-12"/>
                                    <hr/>
                                </li>
                        ) : (
                            posts_top_page.map((post, index) => (
                                    <li>
                                        <hr/>
                                        <div class="timeline-middle">
                                            <a href="#" class="step-link">
                                                <Icon name="mdi:checkbox-blank-circle" size="20"/>
                                            </a>
                                        </div>
                                        <div class="timeline-end h-12"/>
                                        {index !== posts_top_page.length - 1 ?
                                                <hr/> : ""}
                                    </li>
                            ))
                        )
                    }
                </ul>
            </div>
        </div>
        <!-- steps hover end-->

        <!--contents-->
        <div class="scroll-container absolute">

            <!-- slide1 -->
            <section class="slide bg-base-100">
                <div class="h-full mx-auto my-auto py-12 relative">
                    <div class="w-full h-full flex absolute">
                        <Image
                                src={People}
                                alt="会議する人々の写真"
                                class="object-fit brightness-110 blur-sm"
                        />
                    </div>
                    <div class="absolute h-full w-full container content-center">
                        <div class="text-center">
                            <h1 class="text-2xl md:text-5xl font-bold">Hosoda Lab</h1>
                            <p class="my-4 text-base">
                                Tohoku University Graduate School of Information Sciences, Human-Social Information
                                Sciences<br/>
                                Tohoku University Institute of Development, Aging and Cancer, Department of Brain
                                Science, Cognitive and Behavioral Neuroscience
                            </p>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </section>
            <!-- slide1 end -->

            <!-- slide2 -->
            <section class="">
                <div class="slide h-full bg-base-200">
                    <div class="container h-full mx-auto my-auto py-20 md:py-32">
                        <div>
                            <h2 class="text-2xl font-semibold text-primary text-center my-6">
                                News
                            </h2>
                        </div>
                        <div class="grid gap-3 md:grid-cols-2 xl:grid-cols-3 content-center">
                            <NewsCard newsTitle="【WELL Community】クリスマスパーティ開催" newsDescription="クリスマスパーティーを開催します。"/>
                            <NewsCard newsTitle="【WELL Community】クリスマスパーティ開催" newsDescription="クリスマスパーティーを開催します。"/>
                            <NewsCard newsTitle="【WELL Community】クリスマスパーティ開催" newsDescription="クリスマスパーティーを開催します。"/>
                        </div>
                    </div>
                </div>
            </section>

            <!-- slide3 -->
            <section class="">
                <div class="slide h-full bg-base-200">
                    <div class="container h-full mx-auto my-auto py-20 md:py-32">
                        <p class="text-xl font-semibold text-primary text-center">
                            neuroscience × cutting-edge technology <br/>
                            well-being
                        </p>
                        <p class="my-4 text-base px-3">
                            Well-being through goal achievement support tailored to diverse individualities
                            A community for realizing well-being, mainly for children, women, and the elderly.
                        </p>
                        <p class="my-4 text-sm px-3">
                            Elucidation and development of functional requirements for personalized support methods that
                            promote behavioral change and brain plasticity (structural brain changes) for all
                            individuals to achieve their goals (e.g., acquisition of abilities, mastery of learning,
                            continuation of healthy behaviors): We will establish methods to predict and visualize
                            diverse individual characteristics from brain structural differences and biological
                            information.
                            Multimodal images (gray matter, cortical thickness, myelin, FA, ICVF, ISOVF, ODI,
                            tractometry, etc.) obtained from functional brain imaging devices such as MRI will be used
                            as brain structural indicators, and predictive models will be constructed from machine
                            learning and deep learning on the images.
                            Based on this multidimensional brain information, biometric information, IoT technology, and
                            behavioral economics theory, we aim to research and develop an individual optimization goal
                            achievement support system.
                            In addition, as an initiative originating from Tohoku University, we aim to build a
                            community for improving the wellbeing of children, women, and the elderly in an aging
                            society with a declining birthrate.
                            We are building a “WELL Community (trademark registration in progress),” a community where
                            people who believe that “it is important for society as a whole to look after children” can
                            get together and through learning and helping each other, all participants can achieve a
                            state of wellbeing (mental and physical health, happiness, and sense of achievement).
                        </p>
                    </div>
                </div>
            </section>


            <!-- slide3 -->
            <section class="">
                <div class="scroll-container absolute">
                    <section class="slide bg-base-100">
                        <div class="container h-full mx-auto my-auto py-20 md:py-32">
                            <p class="text-xl font-semibold text-primary text-center">
                                Want to know more about your brain? Take our scientifically reliable psychological test!
                            </p>
                            <p class="my-4 text-base px-3">
                                The following psychological tests are currently available online at Hosoda Lab.
                                If you would like to know your personality, motivation, intelligence, etc., please try
                                them below.
                            </p>
                            <p class="my-4 text-sm px-3">
                                We are also conducting experiments to measure the brain using MRI. If you are
                                interested, please check the following website and apply (rewards will be given and the
                                experiment will take place in Tokyo).
                            </p>
                        </div>
                    </section>
                </div>
            </section>

            <section class="">
                <div class="slide h-full bg-base-200">
                    <div class="container h-full mx-auto my-auto py-20 md:py-32">
                        <p class="text-xl font-semibold text-primary text-center">
                            Recruitment Notice
                        </p>
                        <p class="my-4 text-base px-3">
                            Graduate Students, Working Graduate Students, Research Students, and JSPS PD
                            The Graduate School of Information Sciences and the Hosoda Laboratory, Department of
                            Cognitive and Behavioral Neuroscience, Institute of Development, Aging, and Cancer, Tohoku
                            University are currently recruiting graduate students.

                        </p>
                        <p class="my-4 text-sm px-3">
                            If you have a background in brain science, psychology, statistics, engineering, etc., and
                            are interested in studying the abilities, wellbeing, intelligence, motivation, sports, and
                            behavior change of individual children and adults, please feel free to contact us from the
                            Contact Us section
                            to contact us.
                        </p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</Layout>

<script>
    import {gsap} from "gsap";
    import {Observer} from "gsap/Observer";

    gsap.registerPlugin(Observer);

    const transition_speed = 200; //アニメーション速度
    let panels: Element[] = gsap.utils.toArray(".slide"),
        steps = gsap.utils.toArray(".step-link"),
        panel_current_index = -1,
        animating: boolean,
        scrolling: boolean;

    // スクロールイベント監視
    Observer.create({
        target: window,
        type: "wheel,touch,pointer",
        wheelSpeed: -1,
        onStop: () => {
            scrolling = false;
            console.log(panel_current_index);
        },
        onDown: () =>
            !animating && !scrolling && goToSection(panel_current_index - 1, -1),
        onUp: () =>
            !animating && !scrolling && goToSection(panel_current_index + 1, 1),
        tolerance: 400,
        preventDefault: true,
    });

    // ステップクリックイベント
    steps.forEach((v: any, i: number, a: any[]) => {
        v.addEventListener("click", (e: any) => {
            e.preventDefault();
            if (i === panel_current_index) {
                return;
            }
            goToSection(i, i > panel_current_index ? 1 : -1);
        });
    });

    // セクション移動
    function goToSection(index: number, direction: number) {
        // make sure it's valid
        if (index < 0) {
            index = 0;
            return;
        }
        if (index >= panels.length) {
            index = panels.length;
            return;
        }
        scrolling = true;
        animating = true;

        let tl = gsap.timeline({
            defaults: {duration: 1.25, ease: "power1.inOut"},
            onComplete: () => {
                animating = false;
            },
        });

        if (panel_current_index !== -1) {
            gsap.set(panels[panel_current_index], {zIndex: 0});
            tl.to(panels[panel_current_index], {
                yPercent: (-transition_speed / 10) * direction,
            }).set(panels[panel_current_index], {autoAlpha: 0});
        }

        gsap.set(panels[index], {autoAlpha: 1, zIndex: 1});
        tl.fromTo(
            panels[index],
            {
                yPercent: transition_speed * direction,
            },
            {yPercent: 0},
            0,
        );

        ChangeStepColor(index);

        panel_current_index = index;
    }

    // ステップの色変更
    function ChangeStepColor(index: number) {
        steps.forEach((v: any, i, a) => {
            if (i <= index) {
                v.classList.remove("text-gray-400");
                v.classList.add("text-black");
            } else {
                v.classList.remove("text-black");
                v.classList.add("text-gray-400");
            }
        });
    }

    // 初期状態は最初のセクションを表示
    goToSection(0, 1);
    scrolling = false;
</script>


<style is:inline>
.scroll-container {
    height: 90vh;
    width: 100vh;
    top: 0;
    overflow-y: hidden;
    }

.slide {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    visibility: hidden;
    overflow-y: hidden;
    }
.body{
    overflow: hidden;
    }
</style>
